/*
 * Globals
 */

/* Links */

a, a:focus, a:hover {
  color: #fff;
}

/* Custom default button */

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn-mdb-color {
  width: 140px;
}

/*
 * Base structure
 */

html, body {
  height: 100%;
  background-color: transparent;
}

body {
  background: url("../resources/imgs/backgrounds/bg_index.jpg") no-repeat center center;
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  color: #8df;
}

.nav-masthead .nav-link {
  /* padding: .25rem 0; */
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */

/* .cover {
  padding:  0 1.5rem;
} */

.cover .btn-lg {
  padding: 0 1.25rem;
  font-weight: 700;
}

/* .data-button-wrap {
  max-width: 25%;
} */

/*
   * Footer
   */

.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.img-fluid {
  /* display: block; */
  max-width: 20%;
  height: auto;
}

.nav {
  background-color: black;
}

.img-thumbnail {
  /* max-width: 20%; */
  height: 150px;
  width: 110px;
  background-color: white;
  background-blend-mode: lighten;
}

/* .upload-div {
  display: inline-block; */

/* padding: 15%;
} */

.loader {
  border: 5px solid gray;
  /* Light grey */
  border-top: 6px solid black;
  /* Blue */
  border-radius: 20px;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#Progress {
  width: 100%;
  background-color: white;
}

#Bar {
  width: 0%;
  height: 30px;
  background-color: black;
}

/* 
 * Tutorial - Modal Content/Box 
 */
 .modal-content {
  text-align: left;
  display:  none; 
  position: fixed;
  z-index: 1;
  top: 5%;
  background-color: #fefefecc;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  color: black;
  max-height: 70%;
  overflow-y: auto;
}
#tutorial-modal-data{
  left: 5%;
  display: none;
}

#tutorial-modal{
  display: none;
}

#tutorial-modal-data-coords{
  right: 5%;
  width: 400px;
  display: none;
}

#tutorial-modal-data-disp{
  right: 5%;
  width: 400px;
  display: none;
}

#tutorial-modal-data-sigs{
  left: 5%;
  width: 400px;
  display: none;
}

#tutorial-modal-parameters{
  left: 5%;
  width: 300px;
  display: none;
  height: 500px;
}

#tutorial-modal-parameters-coordinates{
  right: 5%;
  width: 300px;
  display: none;
}

#tutorial-modal-parameters-sigma{
  left: 5%;
  width: 300px;
  display: none;
}

#tutorial-modal-analysis-KDE{
  display: none;
  right: 5%;
  width: 300px;
}

#tutorial-modal-analysis-assignments{
  display: none;
  left: 5%;
  width: 300px;
}

#hoverinfo{
  /* left: 0px; */
  position: relative; 
  z-index:2; 
  text-align: left;
  font-size: large;
  /* border: 2px solid white; */
  height: 100px;  
  width: 100px; 
  /* display: none; */
}
